In [10]:
import googleapiclient.discovery
import pymongo
import mysql.connector
import pandas as pd
import isodate

In [11]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
)
print(mydb)
mycursor=mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DFCC86A6D0>

In [3]:
API_key="AIzaSyBWVAn4wpqsYPxsjBvyo0jzTr3sLvmYhFU"
api_service_name = "youtube"
api_version = "v3"
youtube = googleapiclient.discovery.build(api_service_name, api_version, developerKey=API_key)

In [6]:
c_id='UCmj-dGEVPJmeN3Xr_tX0JDA'

In [62]:
request= youtube.channels().list(
part="snippet,contentDetails,statistics",
id=c_id
)
response = request.execute()
for i in response['items']:
    playlist_ID=i['contentDetails']['relatedPlaylists']['uploads']

In [38]:
playlist_ID

'UUKoGMgpccY-TpMSCTX8apjw'

In [63]:
# channel details
def get_channel_detail(c_id):
    request= youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=c_id
    )
    response = request.execute()
    for i in response['items']:
        data=dict(channel_name=i['snippet']['title'],
        channel_ID=i['id'],
        c_sub_count=i['statistics']['subscriberCount'],
        c_view_count=i['statistics']['viewCount'],
        channel_description=i['snippet']['description'],
        playlist_ID=i['contentDetails']['relatedPlaylists']['uploads'],
        video_count=i['statistics']['videoCount'])
    return data

In [64]:
def get_videos_id(c_id):
    video_ids=[]
    request=youtube.channels().list(part='contentDetails',
                                     id=c_id)
    response=request.execute()
    Playlist_Id=response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

    next_page_token=None

    while True:
        responseP=youtube.playlistItems().list(
                                            part="snippet,contentDetails",
                                            playlistId=Playlist_Id,
                                            maxResults=50,
                                            pageToken=next_page_token).execute()
        for i in range(len(responseP['items'])):
            video_ids.append(responseP['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token=responseP.get('nextPageToken')

        if next_page_token is None:
            break
    return video_ids

In [6]:
def pl_listID(c_id):
    request= youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=c_id
    )
    response = request.execute()
    for i in response['items']:
        playlist_ID=i['contentDetails']['relatedPlaylists']['uploads']
    return playlist_ID

In [65]:
#video detail
def get_video_detail(video_ids):
    videoinfo=[]
    for x in video_ids:
        request= youtube.videos().list(
        part="snippet,contentDetails,statistics",
        id=x
    )
        response = request.execute()
        for i in response['items']:
            data1=dict(video_ID=i['id'],
                video_title=i['snippet']['title'],
                video_description=i['snippet'].get('description'),
                #'v_tags':i['snippet'].get('tags'),
                Year=i['snippet']['publishedAt'][0:4],
                v_published=i['snippet']['publishedAt'],
                V_view_count=i['statistics'].get('viewCount'),
                v_like_count=i['statistics'].get('likeCount'),
                v_favorite_count=i['statistics']['favoriteCount'],
                v_comment_count=i['statistics'].get('commentCount'),
                v_duration=isodate.parse_duration(i['contentDetails']['duration']).total_seconds(),
                #v_thumbnails':i['snippet']['thumbnails'],
                #'v_caption_status':i['contentDetails']['caption'],
                playlist_id=playlist_ID
            )
            videoinfo.append(data1)
    return videoinfo

In [ ]:
x=get_videos_id('UCw4G1uD1MbPvDt71xKcf9qw')
y=get_video_detail(x)
y

In [66]:
#comment detail
def get_comment_det(video_ids):
    commentdet=[]
    
    for id in video_ids:
        try:
            request = youtube.commentThreads().list(
                part="snippet",
                videoId=id,
                maxResults=100
            )
            response = request.execute()
            for j in response['items']:
                comment_detail=dict(comment_id=j['id'],
                comment_txt=j['snippet']['topLevelComment']['snippet']['textDisplay'],
                comment_author=j['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                comment_publishat=j['snippet']['topLevelComment']['snippet']['publishedAt'],
                video_id=id
                )
                commentdet.append(comment_detail)
        except:
            pass
    return commentdet

In [67]:
client=pymongo.MongoClient("mongodb+srv://abdulhaleem6:74108520@cluster0.fzizifl.mongodb.net/?retryWrites=true&w=majority")
db=client["YouTHarvest_data"]

In [21]:
"""db=client["YouTHarvest_data"]
collection=db['channel_dt']
try:
    collection.insert_one({'_id':a,'channel_data':a['channel_dt'],'video_data':a['video_dt'],'comment_data':a['comment_info']})
    print("MongoDB Stored Successfully")
except:
    print("This Channel info already exists")

This Channel info already exists

In [68]:
def channel_DT(c_id):
    channel_dt=get_channel_detail(c_id)
    video_id=get_videos_id(c_id)
    video_dt=get_video_detail(video_id)
    comment_info=get_comment_det(video_id)

    collection=db['channel_dt']
    collection.insert_one({'_id':c_id,'channel_data':channel_dt,'video_data':video_dt,'comment_data':comment_info})
    data={'channel_details':channel_dt,
          'video_details':video_dt,
          'comment_details':comment_info
          }

    return "MongoDB Stored Successfully"

In [85]:
a='UCmj-dGEVPJmeN3Xr_tX0JDA'   
b=channel_DT(a)
print(b)

MongoDB Stored Successfully

In [86]:
try:
    mycursor.execute("CREATE DATABASE youtubeinfo")
    mycursor.execute("USE youtubeinfo")
    mycursor.execute("CREATE TABLE channels(channel_name VARCHAR(255), channel_id VARCHAR(255) PRIMARY KEY, subscribers_count INT,channel_views INT,channel_description TEXT ,Play_list_ID VARCHAR(255),video_count INT)")
    mycursor.execute("CREATE TABLE videos(video_id VARCHAR(255) PRIMARY KEY,video_title VARCHAR(255),video_description TEXT,Year INT,published_date DATETIME,total_views INT,total_likes INT,favorites_count INT,total_comments INT,duration INT,playlist_ID VARCHAR(255))")
    mycursor.execute("CREATE TABLE comments(comment_id VARCHAR(255) primary key,comment_text TEXT,comment_author VARCHAR(200),comment_published DATETIME,video_id VARCHAR(255))")
except:
    mycursor.execute("USE youtubeinfo")

In [87]:
collection1=db['channel_dt']
data=collection1.find_one({'channel_data.channel_ID':a})
x=data['channel_data']
final1=tuple(x.values())
#print(final1)
mycursor.execute(f'INSERT INTO channels values{final1}')
mydb.commit()

In [88]:
video_list=[]
collection2=db['channel_dt']
data2=collection2.find_one({'channel_data.channel_ID':a})
y=data2['video_data']
for i in y:
        final2=tuple(i.values())
        video_list.append(final2)
        sql = "INSERT INTO videos (video_id,video_title,video_description,Year,published_date,total_views,total_likes,favorites_count,total_comments,duration,playlist_ID) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s)"
        #print(final1)
        #val=video_list
mycursor.executemany(sql,video_list)
mydb.commit()

In [89]:
comment_list=[]
collection3=db['channel_dt']
data3=collection3.find_one({'channel_data.channel_ID':a})
z=data3['comment_data']
for j in z:
    final3=tuple(j.values())
    comment_list.append(final3)
    sql="INSERT INTO comments(comment_id,comment_text,comment_author,comment_published,video_id) VALUES (%s, %s,%s, %s,%s)"
    #print(final3)
mycursor.executemany(sql,comment_list)
mydb.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '\ channels.channel_name AS channel name,videos.video_title AS video name FROM...' at line 1

In [41]:
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT channel_name,video_title FROM channels,videos')
output=mycursor.fetchall()
#print(output)
pd.DataFrame(output,columns=['channel name','video name'])

             channel name                                         video name
0                Irfan ZX                         Parangipettai Snake Rescue
1   portonovo rescue team                         Parangipettai Snake Rescue
2                Irfan ZX  Portonovo-The European Place Part 2 Coming Soo...
3   portonovo rescue team  Portonovo-The European Place Part 2 Coming Soo...
4                Irfan ZX  Porto Novo - The Europeans Place | Cinematic J...
5   portonovo rescue team  Porto Novo - The Europeans Place | Cinematic J...
6                Irfan ZX            DARK | Opening Intro Concept | Irfan ZX
7   portonovo rescue team            DARK | Opening Intro Concept | Irfan ZX
8                Irfan ZX  If I Could Go Back | An experimental film | Ir...
9   portonovo rescue team  If I Could Go Back | An experimental film | Ir...
10               Irfan ZX                        Portonovo Rescue Team promo
11  portonovo rescue team                        Portonovo Rescue Team promo
12               Irfan ZX  Snake Rescue In Middle Of Night In Parangipett...
13  portonovo rescue team  Snake Rescue In Middle Of Night In Parangipett...
14               Irfan ZX  AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...
15  portonovo rescue team  AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...
16               Irfan ZX       Urban Glimpse | Photo Manipulation | in 1min
17  portonovo rescue team       Urban Glimpse | Photo Manipulation | in 1min
18               Irfan ZX         Highly venom Snake Rescue In Parangipettai
19  portonovo rescue team         Highly venom Snake Rescue In Parangipettai
20               Irfan ZX  DARK - Intro Concept | Before And After | Irfa...
21  portonovo rescue team  DARK - Intro Concept | Before And After | Irfa...

In [56]:
#st.subheader('Name the channels have the most number of videos, and how many videos do they have')
mycursor.execute("USE youtubeinfo")
mycursor.execute("SELECT channel_name,video_count FROM channels WHERE video_count IN (SELECT max(video_count) from channels)")
output=mycursor.fetchall()
(pd.DataFrame(output,columns=['channel name','total videos']))

  channel name  total videos
0     MYPNO TV            24

In [40]:
#st.subheader("The top 10 most viewed videos and their respective channels")
mycursor.execute("USE youtubeinfo")
mycursor.execute("select video_title,channel_name,rank() over (order by total_views) as rank from videos,channels where channels.playlist_ID=videos.playlist_ID limit 10")
out=mycursor.fetchall()
pd.DataFrame(out,columns=['video name','channel name','rank'])

,video name,channel name,rank
0,AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...,portonovo rescue team,1
1,AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...,Irfan ZX,1
2,Portonovo Rescue Team promo,Irfan ZX,3
3,Portonovo Rescue Team promo,portonovo rescue team,3
4,Portonovo-The European Place Part 2 Coming Soo...,Irfan ZX,5
5,Portonovo-The European Place Part 2 Coming Soo...,portonovo rescue team,5
6,Snake Rescue In Middle Of Night In Parangipett...,Irfan ZX,7
7,Snake Rescue In Middle Of Night In Parangipett...,portonovo rescue team,7
8,DARK - Intro Concept | Before And After | Irfa...,Irfan ZX,9
9,DARK - Intro Concept | Before And After | Irfa...,portonovo rescue team,9

In [63]:
#st.subheader('How many comments were made on each video, and what are their corresponding video names')
mycursor.execute('USE youtubeinfo')
mycursor.execute('select total_comments,video_title from videos')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['total_comment','video_title'])

    total_comment                                        video_title
0              22  NoticeBo Launch | Parangipettai Social Media A...
1              10  Portonovo-The European Place Part 2 Coming Soo...
2               2  தியாகத் திருநாள் 1443 - பரங்கிப்பேட்டை | Eid-u...
3               1  Parangipettai Meerapalli Howz | MYPNO #shorts ...
4              30  வருங்காலம் வாழ.. வா! புறப்படு! | MYPNO TV | Pa...
5             358  Porto Novo - The Europeans Place | Cinematic J...
6               0      #Rain2022 #Parangipettai #பரங்கிப்பேட்டை #மழை
7              38            DARK | Opening Intro Concept | Irfan ZX
8               0  Parangipettai Halwa | பரங்கிப்பேட்டை ஹல்வா | க...
9               5  Made in Portonovo | மேட் இன் போர்டோநோவோ | Prom...
10              2  PORTONOVO Unplugged | Parangipettai  FB Video ...
11             37  If I Could Go Back | An experimental film | Ir...
12              2  அதிகரித்து வரும் நோய்கள்!  வாழ்வியலில் மாற்றம்...
13              6  குடியுரிமை திருத்த சட்டம் குறித்த பரங்கிப்பேட்...
14             33  பரங்கிப்பேட்டையில் மாமழை | Parangipettai Rains...
15              8  நான் இஸ்லாமிய ஐக்கிய ஜமாஅத் தலைவர் S.O.செய்யது...
16             11  பொட்டி பிரிக்கும் பெரஹண்டங்கள் | Nabil Naveed ...
17              0  ஆட்சியர் அலுவலகம் அருகே வெள்ளத்தால் இடிந்துவிழ...
18              2  Portonovo Vellar River | பரங்கிப்பேட்டை வெள்ளா...
19              2  வாத்தியாப்பள்ளி மைதானம் | மழை | பரங்கிப்பேட்டை...
20             17  AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...
21              0  North Pichavaram @MYPNOTV வடக்கு பிச்சாவரம் | ...
22             12       Urban Glimpse | Photo Manipulation | in 1min
23             15  பரங்கிப்பேட்டை டாக்டர் சேஷாத்ரி நினைவலைகள் | M...
24              9  Eid Al Adha 2018 - Haj 2018: மீராப்பள்ளி ஹஜ் ப...
25             31  ஒன்று திரள்வோம்...  வாழ்வாதாரம் காப்போம்..! | ...
26             11  பரங்கிப்பேட்டை பெருநாள் பசுமை நினைவலைகள் | Par...
27              1  Portonovo Talkshow | 90s Kids Vs 2K Kids | MYP...
28              3  பரங்கிப்பேட்டை ரவுண்ட் அப் - மழை - Part 1 #par...
29             46  MYPNO RIDE @ Parangipettai | பரங்கிப்பேட்டையை ...
30             18  DARK - Intro Concept | Before And After | Irfa...

In [17]:
#st.subheader('Which videos have the highest number of likes, and what are their corresponding channel names')
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT video_title,channel_name,rank() over (ORDER BY total_likes) AS rank FROM videos,channels where channels.playlist_ID=videos.playlist_ID')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['video_title','channel_name','rank'])

ProgrammingError: 1054 (42S22): Unknown column 'channels.playlist_ID' in 'where clause'

In [65]:
#st.subheader('What is the total number of likes for each video, and what are their corresponding video names')
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT total_likes,video_title from videos')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['total_like','video_title'])

    total_like                                        video_title
0           55  NoticeBo Launch | Parangipettai Social Media A...
1           10  Portonovo-The European Place Part 2 Coming Soo...
2           63  தியாகத் திருநாள் 1443 - பரங்கிப்பேட்டை | Eid-u...
3           42  Parangipettai Meerapalli Howz | MYPNO #shorts ...
4          107  வருங்காலம் வாழ.. வா! புறப்படு! | MYPNO TV | Pa...
5         1004  Porto Novo - The Europeans Place | Cinematic J...
6           18      #Rain2022 #Parangipettai #பரங்கிப்பேட்டை #மழை
7           97            DARK | Opening Intro Concept | Irfan ZX
8           55  Parangipettai Halwa | பரங்கிப்பேட்டை ஹல்வா | க...
9           38  Made in Portonovo | மேட் இன் போர்டோநோவோ | Prom...
10          54  PORTONOVO Unplugged | Parangipettai  FB Video ...
11         184  If I Could Go Back | An experimental film | Ir...
12          20  அதிகரித்து வரும் நோய்கள்!  வாழ்வியலில் மாற்றம்...
13          68  குடியுரிமை திருத்த சட்டம் குறித்த பரங்கிப்பேட்...
14         187  பரங்கிப்பேட்டையில் மாமழை | Parangipettai Rains...
15          17  நான் இஸ்லாமிய ஐக்கிய ஜமாஅத் தலைவர் S.O.செய்யது...
16         128  பொட்டி பிரிக்கும் பெரஹண்டங்கள் | Nabil Naveed ...
17          24  ஆட்சியர் அலுவலகம் அருகே வெள்ளத்தால் இடிந்துவிழ...
18          54  Portonovo Vellar River | பரங்கிப்பேட்டை வெள்ளா...
19          11  வாத்தியாப்பள்ளி மைதானம் | மழை | பரங்கிப்பேட்டை...
20          20  AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...
21          11  North Pichavaram @MYPNOTV வடக்கு பிச்சாவரம் | ...
22          80       Urban Glimpse | Photo Manipulation | in 1min
23         141  பரங்கிப்பேட்டை டாக்டர் சேஷாத்ரி நினைவலைகள் | M...
24          78  Eid Al Adha 2018 - Haj 2018: மீராப்பள்ளி ஹஜ் ப...
25         159  ஒன்று திரள்வோம்...  வாழ்வாதாரம் காப்போம்..! | ...
26          98  பரங்கிப்பேட்டை பெருநாள் பசுமை நினைவலைகள் | Par...
27          50  Portonovo Talkshow | 90s Kids Vs 2K Kids | MYP...
28          58  பரங்கிப்பேட்டை ரவுண்ட் அப் - மழை - Part 1 #par...
29         489  MYPNO RIDE @ Parangipettai | பரங்கிப்பேட்டையை ...
30          45  DARK - Intro Concept | Before And After | Irfa...

In [66]:
#st.subheader('What is the total number of views for each channel, and what are their corresponding channel names')
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT channel_views,channel_name from channels')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['channel_name','channel_views'])

   channel_name channel_views
0         14612      Irfan ZX
1         47189      MYPNO TV

In [ ]:
#st.subheader("What are the names of all the channels that have published videos in the year 2022")
mycursor.execute('USE youtubeinfo')
mycursor.execute("SELECT distinct(channel_name) from channels,videos where Year=2022 and channels.playlist_id=videos.playlist_id ")
out=mycursor.fetchall()
pd.DataFrame(out,columns=['channel name'])

In [34]:
#st.subheader('What is the average duration of all videos in each channel, and what are their corresponding channel names')
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT (duration)/2,video_title,channel_name FROM videos,channels WHERE channels.playlist_id=videos.playlist_id')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['Avg_duration','video_title','channel_name'])

  Avg_duration                                        video_title channel_name
0      17.0000  Portonovo-The European Place Part 2 Coming Soo...     Irfan ZX
1     234.0000  Porto Novo - The Europeans Place | Cinematic J...     Irfan ZX
2      49.5000            DARK | Opening Intro Concept | Irfan ZX     Irfan ZX
3      68.5000  If I Could Go Back | An experimental film | Ir...     Irfan ZX
4     108.0000  AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...     Irfan ZX
5      26.5000       Urban Glimpse | Photo Manipulation | in 1min     Irfan ZX
6      45.5000  DARK - Intro Concept | Before And After | Irfa...     Irfan ZX

In [80]:
#st.subheader("Which videos have the highest number of comments, and what are their corresponding channel names")
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT channel_name,video_title,total_comments FROM videos,channels where total_comments in (select max(total_comments) from videos) and channels.playlist_id=videos.playlist_id')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['channel_name','video_title','total_comments'])

,channel_name,video_title,total_comments
0,Irfan ZX,Porto Novo - The Europeans Place | Cinematic J...,358

In [33]:
mycursor.execute('USE youtubeinfo')
mycursor.execute('SELECT * FROM comments')
output=mycursor.fetchall()
pd.DataFrame(output,columns=['comment_id','comment_text','comment_author','comment_published','video_id'])

,comment_id,comment_text,comment_author,comment_published,video_id
0,Ugw-Lrs8Hf31z4DmpOR4AaABAg,Irfan nana semma 👍👍👍,@superstarrockstar1845,2020-08-07 17:47:26,BLv6yl-TMbU
1,Ugw0ELMvrud03Fyy4m94AaABAg,semma 🔥🔥🔥🔥🔥🔥,@flashzoom9256,2020-08-25 16:24:06,d9tph3tOEGo
2,Ugw0GKf8M1HzWOzv98F4AaABAg,Masha allah... Excellent bro..bt Parangipettai...,@abdulmeharaj.s8796,2020-08-07 17:40:03,BLv6yl-TMbU
3,Ugw0Yibb3whgeC57kg94AaABAg,woah!!!,@mustaqsameer4463,2020-08-25 15:06:55,d9tph3tOEGo
4,Ugw2jb_OgqXK8qZ-JPh4AaABAg,"Masha Allah , mind blowing we don&#39;t know t...",@jammahg6205,2020-08-08 00:22:26,BLv6yl-TMbU
...,...,...,...,...,...
156,Ugzv3uyX3jOu8qoGrTx4AaABAg,Wowww.,@naseemulrahman5194,2020-08-26 11:24:33,d9tph3tOEGo
157,UgzwtarDO5N2zNV2ceh4AaABAg,👌👍,@dishaday,2020-08-25 15:14:11,d9tph3tOEGo
158,UgzytJHqzIXaeRle-a94AaABAg,"Masha Allah,great work.",@dishaday,2020-08-07 17:28:25,BLv6yl-TMbU
159,Ugzz4AD62k-QlUiOn6F4AaABAg,Semma bro,@letzrock832,2020-08-25 15:46:20,d9tph3tOEGo
160,UgzZFAAeIkQXsY9V71R4AaABAg,U nailed it 👏,@rubyruby932,2020-08-07 18:02:20,BLv6yl-TMbU

In [5]:
mycursor.execute("USE youtubeinfo")
mycursor.execute('SELECT channel_name,channel_id,subscribers_count,channel_views,channel_description,Play_list_ID,video_count FROM channels')
#st.subheader("CHANNEL_DETAILS")
output=mycursor.fetchall()
pd.DataFrame(output,columns=['channel_name','channel_id','subscribers_count','channel_views','channel_description','playlist_ID','video_count'])

,channel_name,channel_id,subscribers_count,channel_views,channel_description,playlist_ID,video_count
0,Irfan ZX,UCKoGMgpccY-TpMSCTX8apjw,669,14610,WANT TO KNOW MORE ABOUT ME? \nIN MY SPARE TIME...,UUKoGMgpccY-TpMSCTX8apjw,7
1,portonovo rescue team,UCmj-dGEVPJmeN3Xr_tX0JDA,134,4212,PORTONOVO RESCUE TEAM:\n\nPORTONOVO RESCUE TEA...,UUmj-dGEVPJmeN3Xr_tX0JDA,4

In [8]:
mycursor.execute("USE youtubeinfo")
mycursor.execute('SELECT video_id,video_title,video_description,Year,published_date,total_views,total_likes,favorites_count,total_comments,duration,playlist_ID FROM videos')
#st.subheader("video_DETAILS")
output=mycursor.fetchall()
pd.DataFrame(output,columns=['video_id','video_title','video_description','Year','published_date','total_views','total_likes','favorites_count','total_comments','duration','playlist_ID'])

,video_id,video_title,video_description,Year,published_date,total_views,total_likes,favorites_count,total_comments,duration,playlist_ID
0,-2Cp6pAMM2Q,Parangipettai Snake Rescue,"Russell's viper, is a venomous snake in the fa...",2023,2023-04-23 10:51:24,1209,62,0,3,162,UUKoGMgpccY-TpMSCTX8apjw
1,3mkaTEuOq1U,Portonovo-The European Place Part 2 Coming Soo...,Ready to witness the cinematic journey of our ...,2023,2023-10-05 18:29:23,245,10,0,10,34,UUKoGMgpccY-TpMSCTX8apjw
2,BLv6yl-TMbU,Porto Novo - The Europeans Place | Cinematic J...,Buckle up for a visual journey.\nPorto Novo is...,2020,2020-08-07 15:30:49,10805,1004,0,358,468,UUKoGMgpccY-TpMSCTX8apjw
3,d9tph3tOEGo,DARK | Opening Intro Concept | Irfan ZX,"Inspired by the Netflix German Series ""DARK"".\...",2020,2020-08-25 15:05:09,639,97,0,38,99,UUKoGMgpccY-TpMSCTX8apjw
4,hAZEwhEcT8k,If I Could Go Back | An experimental film | Ir...,"When we were younger, growing up felt like it ...",2020,2020-04-27 14:08:42,1626,184,0,37,137,UUKoGMgpccY-TpMSCTX8apjw
5,jwuRqwoM5PM,Portonovo Rescue Team promo,PORTONOVO RESCUE TEAM is the incredible true s...,2023,2023-04-03 09:21:54,129,12,0,0,14,UUKoGMgpccY-TpMSCTX8apjw
6,NpqGNJYP9v4,Snake Rescue In Middle Of Night In Parangipett...,Snake Rescue In Middle Of Night In Parangipett...,2023,2023-07-23 06:19:58,348,26,0,8,204,UUKoGMgpccY-TpMSCTX8apjw
7,PzmUG1fNMAI,AMONG US VERSION OF SQUID GAME DIGITAL ART IN ...,Among Us version of Squid game digital art in ...,2021,2021-10-24 16:14:45,126,20,0,17,216,UUKoGMgpccY-TpMSCTX8apjw
8,rl0CrsErdDw,Urban Glimpse | Photo Manipulation | in 1min,Photo manipulation video in 1 min \nPhoto mani...,2020,2020-04-29 10:25:02,820,80,0,12,53,UUKoGMgpccY-TpMSCTX8apjw
9,ZUe-drjmZZw,Highly venom Snake Rescue In Parangipettai,"Russell's viper, is a venomous snake in the fa...",2023,2023-04-05 10:38:27,2530,145,0,6,48,UUKoGMgpccY-TpMSCTX8apjw
10,_Pemna5trUM,DARK - Intro Concept | Before And After | Irfa...,A before and after comparison video .,2020,2020-09-08 14:37:17,351,45,0,18,91,UUKoGMgpccY-TpMSCTX8apjw